---
---

@import "{{ site.theme }}";
body {
  margin: 20px;
  background-color: #FFF;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #333E47;
  font-size: 10pt; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 10pt; }

h1 {
  font-size: 22pt;
  font-weight: 400; }

h2 {
  font-size: 18pt;
  font-weight: 400; }

h3 {
  font-size: 16pt;
  font-weight: 400;
 }

h4 {
  font-size: 14pt;
  font-weight: 800; }

h5 {
  font-size: 12pt;
  font-weight: 800; }

h6 {
  font-size: 8pt;
  font-weight: 400;}

p a,
span a {
  color: #FF8300;
  font-weight: 800;
  text-decoration: none; }
  p a:hover,
  span a:hover {
    color: #333E47; }

li a.active {
  color: #fff;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  height: 1px;
  width: 100%;
  max-width: 1060px;
  background-color: #93989E;
  margin: 20px auto; }
  @media (max-width: 1100px) {
    hr {
      width: 90%; } }

.support-footer {
    height: 100px;
    width: 100%;
    background-color: #333E47;
    color: #FFF;
    text-align: center;
    font-size: 9px;
    margin-top: 20px;
}
